@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
    :root {
        --font-xxl: 40px;
        --font-xl: 25px;
        --font-l: 18px;
        --font-sl: 18px;
        --font-xm: 14px;
        --font-r: 12px;
        --header-h: 62px;
    }
    .header {
        height: var(--header-h);
        position: fixed;
        z-index: 8;
        top: 0;
        left: 0;
        width: 100%;
    }
    .header__top {
        display: none;
    }
    .logo {
        height: 50px;
    }
    .nav__showbutton, .nav__hidebutton {
        display: flex;
    }
    .nav {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 100%;
        width: min(500px, 100%);
        height: 100%;
        background: var(--white);
        flex-direction: column;
        justify-content: start;
        align-items: end;
        padding: 10px;
        transition: transform var(--speed) ease;
        -webkit-transition: transform var(--speed) ease;
        -moz-transition: transform var(--speed) ease;
        -ms-transition: transform var(--speed) ease;
        -o-transition: transform var(--speed) ease;
    }
    .nav.active {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    .nav__header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .nav__contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
    }
    .nav__user {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    main {
        padding-top: var(--header-h);
    }
    .promo {
        --height: calc(100vh - 200px);
    }
    .footer__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .filter {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        border: none;
    }
    .filter__input {
        height: 30px;
        width: 50%;
        border-radius: unset !important;
        border: none;
        -webkit-border-radius: unset !important;
        -moz-border-radius: unset !important;
        -ms-border-radius: unset !important;
        -o-border-radius: unset !important;
    }
    .filter__input:nth-child(1) {
        border-left: 2px solid var(--accent);
        border-top: 2px solid var(--accent);
        border-right: 2px solid var(--black-o);
        border-bottom: 2px solid var(--black-o);
        border-top-left-radius: 4px;
    }
    .filter__input:nth-child(2) {
        border-right: 2px solid var(--accent);
        border-top: 2px solid var(--accent);
        border-bottom: 2px solid var(--black-o);
    }
    .filter__input:nth-child(3) {
        border-left: 2px solid var(--accent);
        border-bottom: 2px solid var(--accent);
    }
    .filter__input:nth-child(4) {
        border-right: 2px solid var(--accent);
        border-bottom: 2px solid var(--accent);
        border-bottom-right-radius: var(--radius);
    }
    .filter__button {
        height: 30px;
        width: 100%;
        border-radius: var(--radius);
        -webkit-border-radius: var(--radius);
        -moz-border-radius: var(--radius);
        -ms-border-radius: var(--radius);
        -o-border-radius: var(--radius);
        margin-top: 3px;
}
    .card {
        max-width: unset;
    }
}
@media screen and (max-width: 768px) {
    .badge {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .badge__content {
        align-items: center;
        text-align: center;
    }
    .badge__subtitle {
        text-align: center;
    }
    .row {
        flex-direction: column;
        gap: 20px;
    }
    .col-1_2 {
        width: 100%;
    }
    .contact__map {
        height: 300px;
    }
    .contact__list {
        padding-top: 30px;
    }
}
@media screen and (max-width: 576px) {
    .footer__grid {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
    .footer__col {
        align-items: center;
    }
    .contact__row .container {
        grid-template-columns: unset;
    }
    .contact__list {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
