/* montserrat-regular - cyrillic-ext_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - cyrillic-ext_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - cyrillic-ext_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - cyrillic-ext_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - cyrillic-ext_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-cyrillic-ext_cyrillic-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-r);
}
main {
    flex-grow: 1;
}
.section {
    width: 100%;
    padding: var(--section-padding);
}
.section__title {
    font-size: var(--font-l);
}
.hidden {
    display: none;
}
[class*="container"] {
    width: min(1180px, calc(100% - 40px));
    margin: 0 auto;
    position: relative;
}
[class*="col"] {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
[class*="link"] {
    cursor: pointer;
}
[class*="button"] {
    cursor: pointer;
    padding: 10px 25px;
    background: var(--accent);
    color: var(--white);
    border: 2px solid var(--accent);
    align-self: center;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-r);
    font-weight: 800;
    text-transform: uppercase;
}
[class*="button"]:hover {
    background: var(--accent-darken);
}
[class*="button"]:active {
    background: var(--accent-lighten);
}
[class*="--btn-white"] {
    background: transparent;
    border: 2px solid var(--white);
}
[class*="--btn-white"]:hover {
    background: transparent;
    border-color: var(--accent);
    color: var(--accent);
}
[class*="--btn-white"]:active {
    background: transparent;
    border-color: var(--accent-o);
    color: var(--accent-o);
}
[class*="--btn-accent"] {
    background: transparent;
    border-color: var(--accent);
    color: var(--accent);
}
[class*="--btn-accent"]:hover {
    background: var(--accent);
    color: var(--white);
}
[class*="--btn-accent"]:active {
    background: transparent;
    border-color: var(--accent-lighten);
    color: var(--accent-lighten);
}
[class*="buttons"], [class*="buttons"]:hover, [class*="buttons"]:active {
    height: auto;
    background: none;
    border: none;
    color: inherit;
    cursor: default;
}
[class*="--pointer"] {
    cursor: pointer;
}
[class*="--h100"] {
    height: 100%;
}
[class*="--w100"] {
    width: 100%;
}
[class*="--f-bc"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
[class*="--c-acc"] {
    color: var(--accent);
}
[class*="--c-prm"] {
    color: var(--primary);
}
[class*="--c-black"] {
    color: var(--black);
}
[class*="input"] {
    height: 30px;
    border: 2px solid var(--accent);
    outline: none;
    padding: 0 10px;
}
[class*="input"].error {
    height: 30px;
    border: 2px solid var(--attention);
    outline: none;
    color: var(--attention);
}
[class*="input"].error::placeholder {
    color: var(--attention);
}
[class*="flex"] {
    display: flex;
}
[class*="--f-cc"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
[class*="--0"] {
    margin: 0;
    padding: 0;
}
[class*="--bg-0"] {
    background: transparent;
}
[class*="--b-0"] {
    border: none;
}
[class*="--gap-10"] {
    gap: 10px;
}
[class*="--px-10"] {
    padding: 0 10px;
}
[class*="--py-10"] {
    padding: 10px 0;
}
[class*="--p-10"] {
    padding: 10px;
}
[class*="--p-20"] {
    padding: 20px;
}
[class*="--mx-10"] {
    margin: 0 10px;
}
[class*="--my-10"] {
    margin: 10px 0;
}
[class*="--m-10"] {
    margin: 10px;
}
[class*="--primary"] {
    background: var(--primary);
    color: var(--white);
}
[class*="--accent"] {
    background: var(--accent);
    color: var(--white);
}
[class*="--font-xxl"] {
    font-size: var(--font-xxl);
}
[class*="--b-shadow"] {
    box-shadow: var(--shadow);
}
[class*="grid"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding-top: 40px;
}
.card {
    display: block;
}
.card:hover {
    box-shadow: var(--h-shadow);
}

.card__body {
    width: 100%;
}
.card__image {
    width: 100%;
}
.card__footer {
    text-align: center;
    padding: 10px;
}
.card__description {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--speed) ease;
    -webkit-transition: max-height var(--speed) ease;
    -moz-transition: max-height var(--speed) ease;
    -ms-transition: max-height var(--speed) ease;
    -o-transition: max-height var(--speed) ease;
}
.card__link {
    display: block;
    padding: 10px;
}
.card:hover .card__description {
    max-height: 300px;
}
.slider__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 40px;
}
.slider__controls {
    display: flex;
    gap: 10px;
}

.panel__footer {
    background: var(--grey);
    padding: 15px;
    display: grid;
    gap: 10px;
}
.panel__button {
    justify-self: start;
}
.badge {
    background: var(--black);
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    gap: 80px;
}
.badge__content {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.badge__title {
    font-size: var(--font-xxl);
}
.badge__subtitle {
    font-size: var(--font-l);
    text-align: right;
}
.badge__buttons {
    height: 100%;
    display: grid;
    justify-content: start;
    align-items: flex-end;
}
.badge__buttons:hover {
    height: 100%;
}
.badge__button {
    align-self: end;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black-o);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.modal.active {
    visibility: visible;
}
.modal__content {
    background: var(--sedcondary);
    display: grid;
    padding: 25px 20px;
    gap: 10px;
}

.feedback__input {
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--black);
}
.feedback__input::placeholder {
    font-size: 20px;
}
.feedback__button {
    justify-self: center;
    font-size: 12px;
    margin-top: 32px;
}