.header__top {
    background: var(--black);
    color: var(--white);
    height: 25px;
    display: flex;
    font-size: 12px;
    font-weight: 700;
}
.header__contact, .header__user {
    display: flex;
    align-items: center;
    gap: 12px;
}
.header__contact {
    font-weight: 700;
}
.header__user {
    font-weight: 600;
}
.header__link, .header__field {
    display: flex;
    align-items: center;
    gap: 3px;
    border: none;
}
.header__field {
    cursor: default;
}
.header__link:hover, .header__field:hover {
    color: var(--accent);
}
.logo {
    width: 216px;
}
.header__main {
    background: var(--white);
    padding: 6px 0;
}
.nav__contact, .nav__user {
    display: none;
}
.nav__contact {
    padding-bottom: 10px;
    /* border-bottom: 2px solid var(--accent); */
}
.nav__link {
    font-weight: 500;
    font-size: 14px;
}
.nav__link:hover {
    color: var(--accent);
}
.nav__link.active {
    color: var(--accent);
}
.nav__showbutton, .nav__hidebutton {
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    display: none;
}
.nav__showbutton:hover,
.nav__showbutton:active,
.nav__hidebutton:hover,
.nav__hidebutton:active {
    background: transparent;
    border-color: transparent;
}
.nav__showbutton::before {
    content: '';
    display: block;
    width: 70%;
    height: 3px;
    background: var(--black);
    position: absolute;
    top: 7px;
}
.nav__showbutton::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--black);
    position: absolute;
    bottom: 7px;
}
.nav__hidebutton::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--black);
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.nav__hidebutton::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--black);
    position: absolute;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.promo {
    --height: 670px;
    position: relative;
    padding: 0;
    height: var(--height);
}
.promo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.promo__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.promo .slides {
    padding: 0;
}
.slides {
    padding: 20px 20px;
    z-index: 2;
}
.slide {
    width: 100%;
    height: var(--height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.slide__col {
    text-align: center;
    gap: 10px;
    width: min(700px, 100%);
    width: fit-content;
    position: absolute;
    right: 0;
}
.slide:nth-child(2n) .slide__col {
    left: 0;
}
.slide__title {
    font-size: var(--font-xl);
    font-weight: 800;
}
.slide__subtitle {
    font-weight: 800;
    font-size: var(--font-l);
}
.slider__nav {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 20px;
}
.slider__nav-item {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 5px;
    background: var(--white);
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
}
.slider__nav-item[class*="active"] {
    background: var(--black-o);
    cursor: default;
}
.slider .prev, .slider .next {
    padding: 2px;
    background: transparent;
    border-color: transparent;
}
.slider .prev:hover, .slider .next:hover {
    border-color: var(--accent);
}
.footer {
    background: var(--black);
    color: var(--white);
    font-weight: 700;
    padding: 60px 0;
}
.footer__grid {
    grid-template-columns: repeat(4, 1fr);
}
.footer__col {
    display: flex;
    gap: 5px;
}
.footer__col-title {
    font-size: var(--font-m);
}
.wa-btn {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 33px;
    bottom: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.wa-btn:hover {
    box-shadow: var(--h-shadow);
}
.filter {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 170px 170px 180px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.filter__input {
    border: none;
    height: 100%;
    padding: 0;
    padding: 0 5px;
}
.filter__input:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.filter__input:not(:nth-child(4)) {
    border-right: 2px solid var(--black-o);
}
.filter__button {
    padding: 0;
    height: 100%;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.breadcrumbs {
    height: 50px;
    background: var(--primary);
    color: var(--white);
    font-weight: 600;
    display: flex;
    align-items: center;
}
.product__slider {
    display: flex;
    flex-direction: column;
}
.product__slider .slider__nav {
    position: static;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
    min-width: 100%;
}
.slider__nav-thumb {
    width: 100px;
}
.slider__nav-thumb[class*="active"] {
    border: 2px solid var(--accent);
}
.scroll-x {
    display: block;
    height: max-content;
    width: 100%;
    overflow-x: scroll;
    padding: 10px 0;
}

.txtpanel {
    box-shadow: var(--p-shadow);
    padding: 30px;
    margin-top: var(--t-padding);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: var(--t-padding);
}
.partners__item {
    flex-shrink: 0;
    width: calc(100% / 3 - 20px);
    min-width: 100px;
    padding: 10px;
}
